body {
    background-color: #f8f9fa;
  }

  

  .contact-item {
    margin-bottom: 20px;
  }

  .contact-item .icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .contact-item a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }